 @import url('https://fonts.googleapis.com/css2?family=Amaranth&family=Yellowtail&display=swap');

body{
    margin: 0;
    padding: 0;
    border: none;
    font-family: amaranth,sans-serif;
    font-weight: 300;
    color:#2F4858;
    }
.container{
    position: relative;

}

 img{
    height:auto;
    width: 33%;
    border-radius: 50%;
    border: 1px solid #327C83;
    padding: 5px;
    text-align: center;
    display:block;
    margin-left: auto;
    margin-right: auto;
 }   

.logo{
    text-transform: uppercase;
    letter-spacing: 4px;
    font-size: 200%;
    font-family: yellowtail, sans-serif ;
    text-align: center;
    color: #2F4858;
    position:absolute;
    top:20%;
    text-align: center;
    width: 100%
}
 
    

   