
  @import url('https://fonts.googleapis.com/css2?family=EB+Garamond&family=Judson&family=Lato:wght@300&display=swap');

body{
    font-family: lato, sans-serif, ;
    color:#2F4858;
    
}
header{
    text-decoration: none;
}
#logo{
    text-align: center;
    color:#002F02;
    background-color: #3B7847;
    font-family: lato;
    letter-spacing: 4px;
    font-size: 200%;

}
ul{
    text-decoration: none;
    color:#3B7847;
}
nav{
    color:#3B7847;
    margin-left: 25%;
}
#menu{
    color:#3B7847;
    text-align: center;
    display: inline;
    text-align: center;

}
#menu li{
    float:left;
    margin-left: 10%;

}
a:link{
    text-decoration: none;

}